@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

//variabels
$first_color : #1E53CF;
$font: 'Montserrat' sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    li{
        list-style: none;
    }
}

body{
    font-family: 'Montserrat';
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
header>div{
    width: 94%;
    margin-top: 1.5rem;
}


.disp-flex{
    display: flex;
}



.space-btwn{
    justify-content: space-between;
}

.logo img{
    width: 11.75rem;
}

.sign{
    align-items: center;

    img{
        width: 2.5rem;
        margin-left: 0.5rem
    }

    input{
        font-size: 1rem;
        width: 8.33rem;
        height: 2.4rem;
        outline: none;
        cursor: pointer;
        font-family: 'Montserrat' sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    .login{
        color:#1E53CF ;
        background: transparent;
        border: none;
    }
    .signIn{
        color: white;
        background: #1E53CF;
        border-radius: 6px;
        border: none;
    }
}

.first-section{
    padding-top: 6rem;
    width: 100%;
    justify-content: center;
    >div{
        width: 94%;
        justify-content: center;
        .titles{
        padding-top: 3rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 50%;

        .sub-title p{
            color: $first_color;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 21px;
            span{
                color: white;
                background: #1E53CF;
                border-radius: 16px;
                padding: 8px;
                margin-right: 2px;
            }
        }

        .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 2.441rem;
            line-height: 63px;
            span{
                color: $first_color;
            }
        }

        .below-title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #C0C0C0;
        }

        .title-btns{
            justify-content:left;
            align-items: center;
            .sub-title-btns{
                width: 60%;
                justify-content: space-between;
                input{
                    font-size: 1rem;
                    height: 3rem;
                    outline: none;
                    cursor: pointer;
                    font-family: 'Montserrat' sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    background: transparent;
                    border: none;
                }
                .getStarted{
                    justify-content: center;
                    width: 10.33rem;
                    background-color: #1E53CF;
                    border-radius: 10px;
                    input{
                        color: white;
                    }
                }
    
                .watchVideo{
                    width: 10.33rem;
                    justify-content: baseline;
                    img{
                        width: 2rem;
                        margin-right: 4px;
                    }
                }
            }
            
        }
    }

    

    .bigPicture{
        width: 50%;
        img{
            width: 100%;
            margin-top: -12rem;
        }
    }
    }
    

}


.quote{
    width: 100%;
    padding: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    >div{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            img{
                padding-top: 2rem;
                width: 14rem;
            }
        }
        .sub-quote{
            position: relative;
            width: 80%;
            padding: 4rem;
            img:nth-of-type(1){
                position: absolute;
                top: 0;
                left: 0px;
                width: 6rem;
            }
            img:nth-of-type(2){
                position: absolute;
                bottom:0;
                right: 2rem;
                width: 6rem;
                transform: rotate(180deg);
            }
            p:nth-of-type(1){
                color: #C0C0C0;
                font-size: 1.25rem;
                span{
                    font-size: 2rem ;
                }
            }
            p:nth-of-type(2){
                padding-top: 12px;
                font-size: 1.25rem;
                color: #6F6F6F;
                font-style: italic;
                span{
                    padding-right: 8px;
                    font-weight: 600;
                    font-style: normal;
                }
            }
        }
    }
}


.features{
    position: relative;
    width: 100%;
    height: 24rem;
    justify-content: center;
    background-color: $first_color;
    >div{
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 2rem;
        >div:nth-of-type(1){
            width: 40%;
            flex-direction: column;
            justify-content: space-between;
            height: 65%;
            h3{
                color: white;
                font-size: 2.441rem;
                font-weight: 700;
                margin-top:1rem; 
                padding-bottom: 1rem;
            }
            p{
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: #CBCBCB
            }
            >div{
                border: white solid 2px;
                border-radius: 12px;
                justify-content: center;
                width: 10.33rem;
                height: 3rem;
                cursor: pointer;
                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }

        >div:nth-of-type(2){
            width: 75%;
            margin-top: 2rem;
            position: relative;
            >div{
                position: absolute;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                bottom: -17rem;
                div{
                    position: relative;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    width: 17.9vw;
                    height: 12rem;
                    border-radius: 1rem;
                    background-color: white;
                    padding: 0.75rem;
                    img{
                        width: 5rem;
                        margin-top: -1rem;
                        margin-left: -1rem;
                    }
                    h4{
                        margin-top:-1rem ;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.why{
    width: 100%;
    display: flex;
    flex-direction: row;
    >div{
        width: 50%;
        
    }
    >div:nth-of-type(1){
        position: relative;
        >img{
            width: 100%;
        }
        >div{
            position: relative;
            >div{
                position: absolute;
                width:35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 12rem;
                padding: 1rem;
                filter: drop-shadow(0px 13px 35px rgba(30, 83, 207, 0.08));
                border-radius: 36px;
                background: rgba(255, 255, 255, 0.12);
                border: solid 3px white;

                >div{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    >div{
                        background-color: #DE5832;
                        width: 3.7rem;
                        height: 3.7rem;
                        border-radius: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    h5{
                        margin-top: 0;
                        margin-left:0;
        
                        }
                }
                
                
            }
            >div:nth-of-type(1){
                top:25rem ;
                left: 2rem;
                >div{
                    >div{
                        background-color: #CE5B8D;
                    }
                }
                
            }
            >div:nth-of-type(2){
                top: 15rem;
                right: 2rem;
                >div{
                    >div{
                    background-color: #DE5832;
                    }
                }
                
            }
            
        }

    }
    >div:nth-of-type(2){
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3{
            font-weight: 700;
            font-size: 2.441rem;
        }
        >p{
            color: #858585;
            font-size: 1.563rem;
        }
        ul{
            li{
                display: flex;
                flex-direction: row;
                padding:12px;
                font-size: 1rem;
                img{
                    margin-right:6px ;
                }
            }
        }
        
    }
}


.how-works{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    >div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 94%;
        >div:nth-of-type(1){
            width: 45%;
            height:20rem;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            h5{
                font-size: 2.441rem;
                font-weight: 700;
            }
            p{
                color: #858585;
                font-size: 1.25rem;
            }
            >div{
                width: 12.5rem;
                height: 3rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #1E53CF;
                border-radius: 12px;
                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 1rem;
                }
                img{
                    width: 1.25rem;
                }
            }
        }
    
        >div:nth-of-type(2){
            width: 45%;
            img{
                width: 100%;
            }
        }
    }
    

}

.contact-us{
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
    
    >div{
        height: 100%;
        width:94%;
        display: flex;
        justify-content: space-around;
        >div{
            height: 100%;
            width: 45%;
            padding: 2rem;
        }
        >div:nth-of-type(1){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 32px 52px rgba(30, 83, 207, 0.15);
            border-radius: 2rem;
            >input{
                width: 100%;
            }
            input{
                height: 3rem;
                font-size: 14px;
                background-color: transparent;
                outline: none;
                border: 2px solid rgba(28, 29, 33, 0.13);
                border-radius: 6px;
                padding-left: 10px;
            }
            textarea{
                height: 40%;
                width: 100%;
                font-size: 14px;
                background-color: transparent;
                outline: none;
                border: 2px solid rgba(28, 29, 33, 0.13);
                border-radius: 6px;
                padding: 10px;
            }
            span{
                display: flex;
                justify-content: space-between;
                input{
                    width: 49%;
                }
            }
            >div{
                display: flex;
                justify-content: center;
                background-color: #1E53CF;
                width: 45%;
                border: 2px solid rgba(28, 29, 33, 0.13);
                border-radius: 6px;
                cursor: pointer;
                input{
                    border: none;
                    color: white;
                    padding: 0;
                }
            }
        }

        >div:nth-of-type(2){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h5{
                font-size: 2.441rem;
                font-weight: 700;
                
            }
            p{
                color: #858585;
                font-size: 1.25rem;
            }
            ul{
                padding-top: 2rem;
                padding-bottom: 2rem;
                li{
                    display: flex;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    img{
                        width: 3rem;
                        padding-right: 1rem;
                    }
                    h5{
                        font-size: 1.563rem;
                        font-weight: 600;
                    }
                }
            }
        }

    }
}

footer{
    width: 100%;
    height: 25rem;
    background-color:rgba(28, 29, 33, 1);
    display: flex;
    justify-content: center;
    >div{
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >section{
            width: 25%;
            height: 75%;
            padding: 1rem;
            img{
                fill: white;
                width: 11rem;
                margin: 1rem 1rem 1rem 0;
                
            }
            h4{
                color: rgba(255, 255, 255, 1);
                padding: 1rem 1rem 1rem 0.75rem;
                font-size: 1.6rem;
            }
            p{
                color: rgba(192, 192, 192, 1);
            }
            ul{
                
                li{
                    color: rgba(192, 192, 192, 1);
                    padding: 0.75rem;
                }
            }
        }
    }
    
    
}